.list {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}

.ExpensesList{
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;
 
}

.cate{
  display: flex;
  text-align: left;
  width: 900px;
}

.btnedit{
    background:green;
    border: none;
    padding: 0.75rem 3rem;
    border-radius: 1rem;
}

.btndelete{
  background:red;
  border: none;
  padding: 0.75rem 3rem;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  color: black;
  border-radius: 5px;
}

li span {
  margin-right: 10px;
}

.graph-container {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
  color: white;
}

h1{
  color: wheat;
}

.graph-container{
  /* background: linear-gradient(90deg,  rgb(164, 159, 159) 10% , rgb(115, 151, 202) 100%); */
  background: none;
  overflow: hidden;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 900px;
}


.graph-container .h2 {
  color: white;
}


