.box{
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}


.amount , .cat, .date , .des {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding:  0.5rem 1rem;
  color: white ;
  border: none ;
  border-radius: 0.5rem;
  background: #5d6669;
}

.title {
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  color: black;
}


.submit{
  background:#FFD700;
  border: none;
  padding: 0.75rem 3rem;
  border-radius: 1rem;
  margin: 2rem;
}
